.raceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 100%;
  .locationRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}
.raceContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 15px;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}
.titleContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #e10600;
}
.textContainer {
}
.statContainer {
  display: grid;
  justify-items: start;
  width: 100%;
  margin-bottom: 10px;
  @media only screen and (min-width: 1024px) {
    width: 60%;
  }
}
