h1,
h2,
h3 {
  font-family: "Formula1 Bold";
}
body {
  font-family: "Formula1 Regular";
}
h2 {
  font-size: 1.75rem;
  margin: 15px 0;
}
h3 {
  font-size: 1.25rem;
  margin: 0;
  margin-right: 10px;
}
span {
  margin: 5px;
}
.location {
  font-size: 1.25rem;
}
.title {
  color: white;
  text-align: center;
  font-size: 3rem;
}
