h1,
h2,
h3 {
  font-family: "Formula1 Bold";
}
body {
  font-family: "Formula1 Regular";
}
h2 {
  margin: 15px 0;
}
h3 {
  margin: 0;
  margin-right: 10px;
}
p {
  margin: 0;
}
.title {
  text-align: center;
  font-size: 3rem;
}
